:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1000px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --maincolor: rgb(7, 43, 248);
}

.promo {
  text-shadow: 10px 11px 14px #0e0e0e, 3px 5px 1em blue, 3px 3px 0.2em blue;
}

li {
  list-style: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.header__official span {
  display: block;
  font-size: 18px;
}
.header__phone {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
.header__phone:hover {
  color: rgb(233, 24, 24);
  text-decoration: none;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.header__button {
  margin-top: 5px;
}

.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--maincolor);
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.button_main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  font-size: 16px;
}
.button_submit {
  width: 100%;
  height: 55px;
  color: #ffffff;
  font-size: 16px;
}
.button_mini {
  width: 131px;
  height: 40px;
  font-size: 14px;
}

.promo {
  position: relative;
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url("../img/background_promo.jpg") center center/cover no-repeat;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 90px;
}
.promo__header {
  color: #ffffff;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
}
.promo__subheader {
  margin-top: 17px;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.promo__icons {
  margin-top: 65px;
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.promo__icon {
  width: 108px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
}
.promo__link a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}

.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.container__promo {
  position: relative;
  z-index: 1;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  padding: 38px 40px 40px 40px;
}
.modal__close {
  position: absolute;
  top: 0;
  right: -40px;
  font-size: 41px;
  line-height: 21px;
  color: var(--light-color);
  cursor: pointer;
}
.modal__subtitle {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.modal__descr {
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.modal_mini {
  min-height: 140px;
}
.modal .error {
  border: 1px solid red;
}
.modal label.error {
  border: none;
  text-align: center;
  margin-bottom: 15px;
}

#consultation, #order, #thanks {
  display: none;
}

.feed-form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}
.feed-form_mt25 {
  margin-top: 25px;
}

.accordion {
  padding: 0;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 15px;
  color: white;
  line-height: 48px;
}
.accordion::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.accordion .accardion__btn-text {
  z-index: 1;
}
.accordion img {
  width: 100%;
  height: 100%;
}

.accardion__btn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.catalog {
  padding-bottom: 100px;
}
.catalog__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}
.catalog__tab {
  width: 220px;
  height: 50px;
  border: 2px solid #d0d0d0;
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog__tab:hover {
  -webkit-box-shadow: 3px 3px 20px var(--maincolor);
  box-shadow: 3px 3px 20px var(--maincolor);
  border: none;
}
.catalog__tab div {
  -webkit-transform: skewX(25deg);
  -ms-transform: skewX(25deg);
  transform: skewX(25deg);
}
.catalog__tab_active {
  color: #fff;
  background-color: var(--maincolor);
  border: none;
}
.catalog__content {
  margin-top: 60px;
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-item {
  width: 300px;
  min-height: 440px;
  border: 2px solid #e8e8e8;
  padding: 20px 20px 26px 20px;
  overflow: hidden;
  /* margin-bottom: 20px; */
}
.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}
.catalog-item__subtitle {
  margin-top: 20px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.catalog-item__descr {
  margin-top: 16px;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.catalog-item__link {
  display: block;
  margin-top: 17px;
  color: var(--maincolor);
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}
.catalog-item__link:hover {
  color: var(--maincolor);
}
.catalog-item hr {
  background-color: #e8e8e8;
  /* margin-top: 19px; */
  margin-bottom: 21px;
  border-bottom: none;
}
.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.catalog-item__old-price {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}
.catalog-item__price {
  color: #050505;
  font-size: 20px;
  font-weight: 700;
}
.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog-item__content_active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  margin-right: 20px;
}
.catalog-item__list {
  position: relative;
  width: 50%;
  margin-left: 20px;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  padding-right: 20px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  padding-left: 19px;
  margin-bottom: 0;
  list-style-type: none;
}
.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  margin-left: 0px;
}
.catalog-item__list li {
  position: relative;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}
.catalog-item__list li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--maincolor);
  left: -15px;
  top: 8px;
}
.catalog-item__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 19px));
  -ms-transform: translateX(calc(-50% - 19px));
  transform: translateX(calc(-50% - 19px));
  display: block;
  color: var(--maincolor);
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}
.catalog-item__back:hover {
  color: var(--maincolor);
}

.region {
  padding-bottom: 100px;
}
.region__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}
.region__tab {
  width: 220px;
  height: 50px;
  border: 2px solid #d0d0d0;
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.region__tab:hover {
  -webkit-box-shadow: 3px 3px 20px var(--maincolor);
  box-shadow: 3px 3px 20px var(--maincolor);
  border: none;
}
.region__tab div {
  -webkit-transform: skewX(25deg);
  -ms-transform: skewX(25deg);
  transform: skewX(25deg);
}
.region__tab_active {
  color: #fff;
  background-color: var(--maincolor);
  border: none;
}
.region__content {
  margin-top: 60px;
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.region__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.region-item {
  width: 300px;
  min-height: 440px;
  border: 2px solid #e8e8e8;
  padding: 20px 20px 26px 20px;
  overflow: hidden;
  /* margin-bottom: 20px; */
}
.region-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}
.region-item__subtitle {
  margin-top: 20px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.region-item__descr {
  margin-top: 16px;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.region-item__link {
  display: block;
  margin-top: 17px;
  color: var(--maincolor);
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}
.region-item__link:hover {
  color: var(--maincolor);
}
.region-item hr {
  background-color: #e8e8e8;
  /* margin-top: 19px; */
  margin-bottom: 21px;
  border-bottom: none;
}
.region-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.region-item__old-price {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}
.region-item__price {
  color: #050505;
  font-size: 20px;
  font-weight: 700;
}
.region-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}
.region-item__content {
  width: 50%;
  margin-right: 0px;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.region-item__content_active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  margin-right: 20px;
}
.region-item__list {
  position: relative;
  width: 50%;
  margin-left: 20px;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  padding-right: 20px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  padding-left: 19px;
  margin-bottom: 0;
  list-style-type: none;
}
.region-item__list_active {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  margin-left: 0px;
}
.region-item__list li {
  position: relative;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}
.region-item__list li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--maincolor);
  left: -15px;
  top: 8px;
}
.region-item__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 19px));
  -ms-transform: translateX(calc(-50% - 19px));
  transform: translateX(calc(-50% - 19px));
  display: block;
  color: var(--maincolor);
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}
.region-item__back:hover {
  color: var(--maincolor);
}
/*# sourceMappingURL=main.css.map */