<section class="accardion">
  <div class="container">

    <h2 class="accardion__t1">
      Выбор яхты в аренду
    </h2>
    <p class="accardion_descr">
      Мы подобрали для вас яхты, которые мы проверили и рекомендуем для индивидуальных или групповых морских прогулок.
    </p>

    <div class="region">
      <ul class="region__tabs">
        <li class="region__tab region__tab_active"><div>Алания</div></li>
        <li class="region__tab"><div>Анталия</div></li>
        <li class="region__tab"><div>Кемер</div></li>
      </ul>
        <!-- АЛАНИЯ регион -->
      <div class="region__content region__content_active">
        <button class="accordion">
          <img src="img/yacht_bg-motor.jpeg" alt="yacht-motor">
          <div class="accardion__btn-text">
            Моторные яхты <br>  в алании
          </div>
        </button>
        <div class="panel catalog">
          <p>
            <ul class="catalog__tabs">
              <li class="catalog__tab catalog__tab_active"><div>от 200 до 500 $</div></li>
              <li class="catalog__tab"><div>от 500 до 1000 $</div></li>
              <li class="catalog__tab"><div>от 1000 до 5000 $</div></li>
          </ul>
          <div class="catalog__content catalog__content_active">
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img data-src="img/legend_yaht/legend.jpeg" alt="Legend" class="catalog-item__img lazy">
                        <div class="catalog-item__subtitle">Яхта Legend</div>
                        <div class="catalog-item__descr">Бюджетный вариант для коротких морских прогулок</div>
                        <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                    </div>
                    <div class="catalog-item__list ">
                        <ul>
                        <li>
                          Длинна 10 м.
                        </li>
                        <li>
                          Ширина 3 м.
                        </li>
                        <li>
                          Кают 1
                        </li>
                        <li>
                          Вместимость 6 ч.
                        </li>
                      </ul>
                        <a href="catalog-yaht.html" class="catalog-item__catalog-yaht">посмотреть фсе фото и описание</a>
                        <a href="#" class="catalog-item__back">назад</a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">250 $.</div>
                        <div class="catalog-item__price">210 $.</div>
                    </div>
                    <button class="button button_mini">заказать</button>
                </div>
            </div>
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/pulsometr.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">Пульсометр Suunto M2</div>
                        <div class="catalog-item__descr">Пульсометр начального уровня с комфортным тканевым ремешком
                        </div>
                        <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                    </div>
                    <div class="catalog-item__list ">
                        <ul>
                        <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                        </li>
                        <li>
                        Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                        </li>
                        <li>
                        Также Вы увидите информацию о расходе калорий за тренировку;</li>
                        <li>
                        Вы сможете посмотреть данные по 10 тренировкам.
                        </li></ul>
                        <a href="#" class="catalog-item__back">назад</a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">7 390 руб.</div>
                        <div class="catalog-item__price">7 021 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div>
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/pulsometr.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">Пульсометр Polar FT1</div>
                        <div class="catalog-item__descr">Для первых шагов в тренировках, основанных на сердечном ритме</div>
                        <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                    </div>
                    <div class="catalog-item__list ">
                        <ul>
                        <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                        </li>
                        <li>
                        Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                        </li>
                        <li>
                        Также Вы увидите информацию о расходе калорий за тренировку;</li>
                        <li>
                        Вы сможете посмотреть данные по 10 тренировкам.
                        </li></ul>
                        <a href="#" class="catalog-item__back">назад</a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">4 750 руб.</div>
                        <div class="catalog-item__price">4 500 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div>
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/pulsometr.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">Пульсометр Polar FT1</div>
                        <div class="catalog-item__descr">Для первых шагов в тренировках, основанных на сердечном ритме</div>
                        <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                    </div>
                    <div class="catalog-item__list ">
                        <ul>
                        <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                        </li>
                        <li>
                        Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                        </li>
                        <li>
                        Также Вы увидите информацию о расходе калорий за тренировку;</li>
                        <li>
                        Вы сможете посмотреть данные по 10 тренировкам.
                        </li></ul>
                        <a href="#" class="catalog-item__back">назад</a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">6 990 руб.</div>
                        <div class="catalog-item__price">6 641 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div>
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/pulsometr.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">Пульсометр Suunto M2</div>
                        <div class="catalog-item__descr">Пульсометр начального уровня с комфортным тканевым ремешком
                        </div>
                        <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                    </div>
                    <div class="catalog-item__list ">
                        <ul>
                        <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                        </li>
                        <li>
                        Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                        </li>
                        <li>
                        Также Вы увидите информацию о расходе калорий за тренировку;</li>
                        <li>
                        Вы сможете посмотреть данные по 10 тренировкам.
                        </li></ul>
                        <a href="#" class="catalog-item__back">назад</a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">4 750 руб.</div>
                        <div class="catalog-item__price">4 500 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div>
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/pulsometr.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">Пульсометр Polar FT4</div>
                        <div class="catalog-item__descr">Улучшенная версия Polar FT1, имеющая следующие улучшения:
                        </div>
                        <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                    </div>
                    <div class="catalog-item__list ">
                        <ul>
                        <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                        </li>
                        <li>
                        Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                        </li>
                        <li>
                        Также Вы увидите информацию о расходе калорий за тренировку;</li>
                        <li>
                        Вы сможете посмотреть данные по 10 тренировкам.
                        </li></ul>
                        <a href="#" class="catalog-item__back">назад</a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">7 390 руб.</div>
                        <div class="catalog-item__price">7 021 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div>
        </div>
          </p>
        </div>

        <button class="accordion">
          <img src="img/yacht_bg-sail.jpeg" alt="yacht-sail">
          <div class="accardion__btn-text">
            Парусные яхты <br>  в алании
          </div>
        </button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">
          <img src="img/yacht_bg-vip.jpeg" alt="yacht-motor">
          <div class="accardion__btn-text">
            VIP Яхты <br>  в алании
          </div>
        </button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>

      </div>
        <!-- Анталия регион -->
      <div class="region__content">
        <button class="accordion">
          <img src="img/yacht_bg-motor.jpeg" alt="yacht-motor">
          <div class="accardion__btn-text">
            Моторные яхты <br> в Анталии
          </div>
        </button>
        <div class="panel catalog">
          <p>
            <ul class="catalog__tabs">
              <li class="catalog__tab catalog__tab_active"><div>от 200 до 500 $</div></li>
              <li class="catalog__tab"><div>от 500 до 1000 $</div></li>
              <li class="catalog__tab"><div>от 1000 до 5000 $</div></li>
            </ul>
            <div class="catalog__content catalog__content_active">
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/pulsometr.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">Пульсометр Polar FT1</div>
                        <div class="catalog-item__descr">Для первых шагов в тренировках, основанных на сердечном ритме</div>
                        <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                    </div>
                    <div class="catalog-item__list ">
                        <ul>
                        <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                        </li>
                        <li>
                        Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                        </li>
                        <li>
                        Также Вы увидите информацию о расходе калорий за тренировку;</li>
                        <li>
                        Вы сможете посмотреть данные по 10 тренировкам.
                        </li></ul>
                        <a href="#" class="catalog-item__back">назад</a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">6 990 руб.</div>
                        <div class="catalog-item__price">6 641 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div>
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/pulsometr.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">Пульсометр Suunto M2</div>
                        <div class="catalog-item__descr">Пульсометр начального уровня с комфортным тканевым ремешком
                        </div>
                        <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                    </div>
                    <div class="catalog-item__list ">
                        <ul>
                        <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                        </li>
                        <li>
                        Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                        </li>
                        <li>
                        Также Вы увидите информацию о расходе калорий за тренировку;</li>
                        <li>
                        Вы сможете посмотреть данные по 10 тренировкам.
                        </li></ul>
                        <a href="#" class="catalog-item__back">назад</a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">7 390 руб.</div>
                        <div class="catalog-item__price">7 021 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div>
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/pulsometr.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">Пульсометр Polar FT1</div>
                        <div class="catalog-item__descr">Для первых шагов в тренировках, основанных на сердечном ритме</div>
                        <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                    </div>
                    <div class="catalog-item__list ">
                        <ul>
                        <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                        </li>
                        <li>
                        Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                        </li>
                        <li>
                        Также Вы увидите информацию о расходе калорий за тренировку;</li>
                        <li>
                        Вы сможете посмотреть данные по 10 тренировкам.
                        </li></ul>
                        <a href="#" class="catalog-item__back">назад</a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">4 750 руб.</div>
                        <div class="catalog-item__price">4 500 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div>
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/pulsometr.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">Пульсометр Polar FT1</div>
                        <div class="catalog-item__descr">Для первых шагов в тренировках, основанных на сердечном ритме</div>
                        <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                    </div>
                    <div class="catalog-item__list ">
                        <ul>
                        <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                        </li>
                        <li>
                        Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                        </li>
                        <li>
                        Также Вы увидите информацию о расходе калорий за тренировку;</li>
                        <li>
                        Вы сможете посмотреть данные по 10 тренировкам.
                        </li></ul>
                        <a href="#" class="catalog-item__back">назад</a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">6 990 руб.</div>
                        <div class="catalog-item__price">6 641 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div>
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/pulsometr.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">Пульсометр Suunto M2</div>
                        <div class="catalog-item__descr">Пульсометр начального уровня с комфортным тканевым ремешком
                        </div>
                        <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                    </div>
                    <div class="catalog-item__list ">
                        <ul>
                        <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                        </li>
                        <li>
                        Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                        </li>
                        <li>
                        Также Вы увидите информацию о расходе калорий за тренировку;</li>
                        <li>
                        Вы сможете посмотреть данные по 10 тренировкам.
                        </li></ul>
                        <a href="#" class="catalog-item__back">назад</a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">4 750 руб.</div>
                        <div class="catalog-item__price">4 500 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div>
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/pulsometr.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">Пульсометр Polar FT4</div>
                        <div class="catalog-item__descr">Улучшенная версия Polar FT1, имеющая следующие улучшения:
                        </div>
                        <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                    </div>
                    <div class="catalog-item__list ">
                        <ul>
                        <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                        </li>
                        <li>
                        Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                        </li>
                        <li>
                        Также Вы увидите информацию о расходе калорий за тренировку;</li>
                        <li>
                        Вы сможете посмотреть данные по 10 тренировкам.
                        </li></ul>
                        <a href="#" class="catalog-item__back">назад</a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">7 390 руб.</div>
                        <div class="catalog-item__price">7 021 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div>
        </div>
          </p>
        </div>

        <button class="accordion">
          <img src="img/yacht_bg-motor.jpeg" alt="yacht-motor">
          <div class="accardion__btn-text">
            Парусные яхты <br> в Анталии
          </div>
        </button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">
          <img src="img/yacht_bg-motor.jpeg" alt="yacht-motor">
          <div class="accardion__btn-text">
            VIP Яхты <br> в Анталии
          </div>
        </button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
      </div>
        <!-- Кемер регион -->
      <div class="region__content">
        <div class="catalog-item">
            <div class="catalog-item__wrapper">
                <div class="catalog-item__content catalog-item__content_active">
                    <img src="img/pulsometr.png" alt="pulsometr" class="catalog-item__img">
                    <div class="catalog-item__subtitle">Пульсометр Polar FT1</div>
                    <div class="catalog-item__descr">Для первых шагов в тренировках, основанных на сердечном ритме</div>
                    <a href="#" class="catalog-item__link">ПОДРОБНЕЕ</a>
                </div>
                <div class="catalog-item__list ">
                    <ul>
                    <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                    </li>
                    <li>
                    Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                    </li>
                    <li>
                    Также Вы увидите информацию о расходе калорий за тренировку;</li>
                    <li>
                    Вы сможете посмотреть данные по 10 тренировкам.
                    </li></ul>
                    <a href="#" class="catalog-item__back">назад</a>
                </div>
            </div>
            <hr>

            <div class="catalog-item__footer">
                <div class="catalog-item__prices">
                    <div class="catalog-item__old-price">4 750 руб.</div>
                    <div class="catalog-item__price">4 500 руб.</div>
                </div>
                <button class="button button_mini">КУПИТЬ</button>
            </div>
        </div>
      </div>
    </div>



  </div>
</section>
