<section id="up" class="promo">
  <div class="opacity"></div>
  <div class="container container__promo">
      <header class="header">
          <a href="#" class="header__logo">
              <img src="icons/logo.png" alt="logo">
          </a>
          <div class="header__official">
              Эксперт по аренде яхт
              <span>Анталия, Алания, Кемер</span>
          </div>
          <div class="header__contacts">
              <a href="tel:+905444558407" class="header__phone">+90 (544) 455-84-07</a>
              <button data-modal="consultation" class="button header__button">заказать звонок</button>
          </div>
      </header>

      <div class="promo__wrapper">
          <h1 class="promo__header">подбор яхты</h1>
          <h2 class="promo__subheader">учтем ваш карман и ожидания</h2>

          <div class="promo__icons">
              <div class="promo__icon">
                  <img src="img/professional.png" alt="professional">
                  Лично проверяю все яхты
              </div>
              <div class="promo__icon">
                  <img src="img/approach.png" alt="hand-cart">
                  Индивидуальный подход
              </div>
              <div class="promo__icon">
                  <img src="img/svg/garant.svg" alt="messages">
                  Гарантия возврата
              </div>
          </div>

          <button data-modal="consultation" class="button button_main">заказать кОНСУЛЬТАЦИЮ</button>
          <div class="promo__link">
              или
              <a href="#">ПЕРЕЙТИ на Youtube канал</a>
          </div>
      </div>

  </div>

</section>
